ntfy.sh/app WebPush Notifications do not work with ntfy UnifiedPush Distributor

:crystal_ball: **Additional context**
<!-- Add any other context about the problem here. -->
They only work with Sunup.
See details here:
https://codeberg.org/UnifiedPush/wishlist/issues/27#issuecomment-5786435
Why it doesn't work:
> They use an allow list: [binwiederhier/ntfy@3c8ac4a1e1/server/server_webpush.go (L20)](https://github.com/binwiederhier/ntfy/blob/3c8ac4a1e14919705b305d7eddc89e546c7bac56/server/server_webpush.go#L20)

I'm paging @p1gp1g for help on this one. Is this something that can be easily addressed in ntfy?

I was already writing an duplicated Issue .. this problem exists also on own hosted WebPush-Server (e.g. autopush).

Please make the AllowList configurable.

Understood. The "proper" way is debatable. I have worked really hard to not allow any http requests to other servers from the ntfy server, because it can be a potential attack vector (not just for private IPs). I don't really want ntfy.sh to reach out to random other servers. 

I'll likely add an allowlist for this then. What browsers can this be tested with?

How is this related to UP? Web push isn't used for UP yet. Or is it and I forgot?

And yes, UnifiedPush app server to push server is defined by web push (RFC8030, RFC8291, RFC8292) now for ~1.5 years.

2 of the browsers that allow to self-host the push server do it via UnifiedPush